* {
  background-color: #f1e7da;
  font-family: 'Old Standard TT', serif;
}

.button {
  text-align: center;
}

.button a {
  background-color: #e3d0b5;
  display: inline-block;
  width: 400px;
  padding: 7px 0 7px 0;
  font-size: 20px;
}

.button a:hover {
  background-color: hsl(35, 45%, 83%)
}

/* LIST PAGE  */

h1 {
  text-align: center;
  font-size: 80px;
  margin: 0;
  padding: 0;
}

container {
  text-align: center;
}

ul {
  margin-top: 30px;
}

ul li {
  list-style: none;
  font-size: 20px;
  font-weight: 500;
  line-height: 45px;
}

ul li a {
  text-decoration: none;
}

ul li a:hover, ul li a:visited:hover {
  color:grey;
  cursor: pointer;
}

ul li a:visited {
  color:#333333;
  text-decoration: none;
}

#back_to_articles {
  text-align: center;
  text-decoration: none;
  color:black;
}

#back_to_articles:visited {
  text-decoration: none;
  color:black;
}

#back_to_articles:visited:hover, #back_to_articles:hover {
  cursor: pointer;
}

/* SINGLE ARTICLE PAGE */

.article-title {
  text-align:center;
  font-size: 25px;
  font-weight: 600;
  margin-top: 30px;
}

.article-body {
  margin: 20px 200px;
  font-size: 18px;
}

.article-body a {
  text-decoration: none;
  color:grey;
}

.article-body a:hover {
  cursor: pointer;
  text-decoration: underline;
  color:grey;
}
